<div class="container">

<!-- TODO - get data from Result -->
<!-- Include created at? -->
<!-- Result.last.created_at.strftime('%y-%m-%d %H:%M') -->



<!-- TODO: Paginate -->
<%= result %>

<!-- TODO - add Reset History btn -->

</div>