<div class="study_body">
  <div class="container">
    <h1>New Deck</h1>
    <%= render partial: 'deck', locals: {editable: true, deck: @deck} %>
  </div>
  <%= link_to "Back", decks_path, class: "btn btn-primary" %>
</div>
